.venv/
venv/
.numba/
__pycache__/
*.pyc
*.egg-info/
realtime-uploads/
training-uploads/
environment-uploader/
audio-uploader-prod.service
environment-realtime-watcher-prod.service
dev-claim
dev-release
dev-status
