[Unit]
Description=Ripple Realtime Environment Watcher for Development
After=network-online.target

[Service]
User=www-data
WorkingDirectory=/srv/projects/ripple_dev/current/ripple_server/environment-classifier
Environment=RIPPLE_BASE_DIR=/srv/projects/ripple_dev/current/ripple_server
ExecStart=/srv/projects/ripple_dev/current/ripple_server/environment-classifier/.venv/bin/python -m scripts.realtime_watcher
Restart=always

[Install]
WantedBy=multi-user.target
